* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #F2EAE2;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  

  .card-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-radius:15px;
    margin: 1em;
  }
  
  .img {
    content: url( "/assets/img/img.svg");
    width: 20em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .product {
    width: 18em;
    padding: 2em;
  }
  
  .perfume {
    font-family: 'Montserrat';
    color: #6C7289;
    letter-spacing: 5px;
    padding-bottom: 1em;
  }
  

  h1 {
    font-family: 'Fraunces';
    color:#1C232B;
    padding: 0 0 0.5em;
    font-size: 1.5em;
  }
  
  p {
    font-family: 'Montserrat';
    color: #6C7289;
    line-height: 1.5;
    font-size: 0.875em;
  }
  

  .price {
    display: flex;
    align-items: center;
    padding: 1em 0;
  }
  
  .discount {
    color: #3D8168;
    font-size: 2.1em;
    font-weight: bold;
  }
  
  .initial-price {
    padding-left: 1em;
    text-decoration-line: line-through;
    font-weight: bold;
    color: #6C7289;
  }
  
  #cart {
    padding-right: 0.5em;
  }
  
  button {
    background-color: #3D8168;
    color: white;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    border: none;
    font-family: "Fraunces", serif;
    font-size: 1em;
    cursor: pointer;
    transition: .3s ease;
  }
  
  button:hover{
    background-color: hsl(158, 71%, 11%);
    outline: none;
  }
  

  

  @media only screen and (min-width: 600px) {
    .img {
      content: url("/assets/img/img.svg ");
      width: 18em;
      height: 25em;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }
  
    .product {
      height: 25em;
    }
  
    .card-container {
      flex-direction: row;
      justify-content: space-between; 
    }
  
    h1 {
      line-height: 1;
      font-size: 1rem;
    }
  
    p {
      font-size: 0.89rem;
    }
  }
  